<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Administration Page</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>

	<!-- Initial Page Actions -->
	<fieldset>
		<legend>Choose action:</legend>

		<div>
		<label><input type="radio" name="navbtn" value="all_users" onclick="allUserDisplay()">Display All Users</label>
		<label><input type="radio" name="navbtn" value="new_user" onclick="newUserDisplay()">New User</label>
		<label><input type="radio" name="navbtn" value="editUser" onclick="editUserDisplay()"> Edit User</label>
		<label><input type="radio" name="navbtn" value="searchForUser" onclick="searchUserDisplay()"> Search For User</label>
		</div>
	</fieldset>

	<!-- Display All Users -->
	<fieldset class="starthidden" id="all_user_fields">
	<div class="container">
	<h2>Database Results</h2>

	<ul>
    <% results.forEach(function(r) { %>
        <li>
			<%= r.id %> - <%= r.fname %> <%= r.lname %> <%= r.email %>
		</li>
    <% }); %>
	</ul>

	</div>
	</fieldset>


	<!-- Create New User -->
	<fieldset class="starthidden" id="new_user_fields">
		<legend>Enter New User Information</legend>
		<form method="post" id="newUserForm" action="/new-user">
			<label>First Name: <input type="text" name="fname"  required></label>
			<label>Last Name: <input type="text"  name="lname"  required></label><br>
			<label>Email: <input type="text" name="email"  required></label>
			<label>Password: <input type="text" name="password"  required></label>
			<br>

			<td><input type="submit" name="Add User" value="Add User"></td>
		</form>
	</fieldset>

	<!-- Update User -->

	<fieldset class="starthidden" id="editable_user_fields">
	<form method="post" id="editUserForm" action="/update-user">

      <input type="text" style="visibility:hidden" id="user_id_edit" name="id">

      <label>First Name: </label><input type="text" class="input-field" name="fname" id="user_fname_edit" required>
	  <label>Last Name: </label><input type="text" class="input-field" name="lname" id="user_lname_edit" required>
	  <label>Email: </label><input type="text" class="input-field" name="email" id="user_email_edit" required>
      <label>Password: </label><input type="text" class="input-field" name="password" id="user_password_edit" required>
	  <label>Signature: </label><input type="text" class="input-field" name="signature" id="user_signature_edit">
	  <input type="submit" name="Update User" value="Update User">
	</form>

	<img id="signature_image">
    <!-- <input type="button" id="signature_edits_btn" value="Change Signature" onclick="updateSignature()"> -->
	<button class="pill" id="signature_edits_btn" value="Change Signature" onclick="updateSignature()"><i class="fa fa-star"></i>Change Signature</button>
     <input type="button" id="save_user_edits_btn" value="Save Changes" onclick="updateUser()"> -->
	  <input type="button" id="delete_user_edits_btn" value="Delete User" onclick="deleteUser()">
  </fieldset>

  <!-- Update Signature -->
  <fieldset class="starthidden" id="editable_user_signature">
    <div class="wrapper">
      <canvas id="signature-pad" class="signature-pad" width=400 height=200></canvas>
    </div>
    <button id="save-png">Save as PNG</button>
  </fieldset>

<!-- Select Existing User -->
	<fieldset class="starthidden" id="select_user">
		<legend>Select a User to Edit</legend>
          <ul>
            <% results.forEach(function(r) { %>
              <li>
              <input type="radio" name="selected_user" value=<%= r.id %> onclick="editUser()">
              <%= r.id %> - <%= r.fname %>, <%=r.lname %>
              </li>
            <% }); %>
          </ul>
	</fieldset>

	<!-- Search For User -->
	<fieldset class="starthidden" id="search_for_user">
		<div id="search_controls">
			<legend>Type in name of user to search for...</legend>
			<label>Name: <input type="text" class="input-field" id="name_search" required></label >
    <input type="button" id="search_btn" value="search" onclick="searchForUser()">
    </div>
</fieldset>

</div>
    <link rel="stylesheet" href="css/kickstart.css" media="all" /> <!-- KICKSTART -->
	<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous"></script>
	<script src="js/kickstart.js"></script> <!-- KICKSTART -->
    
	<script src="/js/common.js"></script>
	<script src="/js/administration.js"></script>

</body>
</html>
